@import "./common/stylus/mixin.styl"
//1rem 代表多少位图像素
$rem = (32/750rem)
.seller_header
  background rgba(7,17,27,.5)
  position relative
  overflow hidden
  & > .top
    padding 24*$rem 12*$rem 18*$rem 24*$rem
    display flex
    position relative
    .top_left
      width 64*$rem
      height 64*$rem
      margin-right 16*$rem
      .avatar
        width 100%
        height 100%
    .top_right
      color rgba(255,255,255,1)
      .title
        display flex
        align-items center
        font-size 16*$rem
        font-weight bold
        line-height 18*$rem
        margin-top 2*$rem
        margin-bottom 8*$rem
        .brand
          bg-image(brand)
          background-repeat no-repeat
          background-size 100%
          display inline-block
          width 30*$rem
          height 18*$rem
        .name
          margin-left 6*$rem
      .delivery
        font-size 12*$rem
        font-weight 200
        line-height 12*$rem
        .info
          zoom 1
      .supports
        display flex
        align-items center
        font-size 10*$rem
        font-weight 200
        line-height 12*$rem
        margin-top 10*$rem
        margin-bottom 2*$rem
        .text
          margin-left 4*$rem
        .icon
          zoom 1
  & > .bottom
    box-sizing border-box
    width 100%
    height 28*$rem
    padding 0*$rem 26*$rem 0 12*$rem
    background rgba(7,17,27,.2)
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    color rgba(255,255,255,1)
    line-height 28*$rem
    font-size 10*$rem
    font-weight 200
    position relative
    .icon
      bg-image(bulletin)
      background-size 100%
      background-repeat no-repeat
      display inline-block
      width 22*$rem
      height 12*$rem
      margin-right 4*$rem
      position relative
      top 1*$rem
    .text
      zoom 1
    .arrow_right
      position absolute
      right 12*$rem
      top 8*$rem
  & > .bg
    position absolute
    left 0
    right  0
    top 0
    bottom  0
    background pink
    z-index -1
    filter blur(3*$rem)
    img
      width 100%
      height 100%

